<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cj.splicing">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".common.base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activity.SplicingTxtActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|adjustNothing"
            />
        <activity
            android:name=".view.activity.SplicingImgActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.SetActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.activity.FeedBackActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.activity.InformationActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.activity.AboutActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.activity.WebViewActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.activity.LoginCodeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.RegisterActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:fitsSystemWindows="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 消息服务 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!--
<provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.cj.afloat.BmobContentProvider" />
        -->
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.cj.splicing.BmobContentProvider" />
        <provider
            android:name=".provier.AFileProvider"
            android:authorities="com.cj.splicing.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>